{% extends 'blog/base.html' %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}
    <div class="card " style="align-self: flex-end; padding: 10px;">
    
        <div class="card-header" style="background-color: rgb(153, 142, 142);">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <footer class="blockquote-footer"><a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a> </footer>
          </blockquote>
        </div>
      </div>
    
    
    {% endfor %}
</div>
{% endblock %}

  <!--     <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div> -->